:root{
    --red: #E50914;
    --black: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--black);
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    color: #FFF;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 90%;
}

header .logo{
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #FFF;
}

.main__movie{
    height: 400px;
    background: linear-gradient(to right,#000, rgba(0, 0, 0, .80), transparent), url('../img/capa.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
}

.main__movie__container{
    width: 60%;
    margin-left: 70px;
    padding-bottom: 100px;
}

.movie__title{
    font-size: 4rem;
    margin-top: 15%;
}

.movie__description{
    margin-bottom: 90px;
}

.main__btn{
    width: 200px;
    border: none;
    color: #FFF;
    padding: 15px 30px;
    margin-right: 15px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition:  .5s ease-in-out;
    
}

.main__btn span{
    float: left;
}

.main__btn:nth-child(1){
    background-color: var(--red);
}

.main__btn:nth-child(1):hover{
    color: var(--red);
    background-color: #FFF;
}

.main__btn:nth-child(2){
    background-color: rgba(0, 0, 0, .30);
}

.main__btn:nth-child(2):hover{
    color: rgba(0, 0, 0, .30);
    background-color: #FFF;
}

.thumb__movie{
    width: 100%;
    height: 100%;
    display: block;
}

.carousel__movies{
    margin-top: 50px;
}